.app__header {
  height: 8vh;
  box-shadow: 1px 1px 5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(84, 138, 239, 0.5);
  position: fixed;
  inset: 0;
  width: 100vw;

}

.app__nav-bar {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: space-between;
  overflow-x: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  scrollbar-color: green;


  a {
    margin: 10px;
  }
}

.main {
  margin-top: 8vh;
  display: flex;

}
