<nav class="app__nav-bar">
  <LinkTo @route="index" role="link">Accueil</LinkTo>
  <LinkTo @route="dhcp" role="link">DHCP</LinkTo>
  <LinkTo
    @route="client-server"
    class="button"
    role="link"
  >Client-Server</LinkTo>
  <LinkTo @route="ip" role="link">IP</LinkTo>
  <LinkTo @route="dns" role="link">DNS</LinkTo>
  <LinkTo @route="virtualisation" role="link">Virtualisation</LinkTo>
  <LinkTo @route="hypervisor" role="link">Hyperviseur</LinkTo>
  <LinkTo @route="contact" role="link">Contact</LinkTo>
</nav>