<main class="main contact__main">
  <h1>Contact</h1>
  <section>
    <p>Vous pouvez me contacter via: </p>
    <ul role="list">
      <li>
        <a href="https://www.linkedin.com/in/boris-rose/"> LinkedIn</a>
      </li>
      <li>
        <a href="mailto:boris.alexandre.rose@gmail.com">Mon email</a>
      </li>
    </ul>
  </section>
</main>