<main class="main dhcp__main">
  <h1>DHCP</h1>
  <section>

    <h2>Une adresse IP </h2>
    <p>
      Une adresse IP sert à identifier globalement une machine pour qu’elle
      puisse communiquer à travers les réseaux.
    </p>

    <p>
      Chaque machine doit obligatoirement avoir une adresse IP, qu’il vous faut
      configurer au préalable.
    </p>

    <p>
      Pourtant on peut très bien aller sur Internet sans configurer son adresse
      IP ? L’adresse IP est aussi nécessaire pour aller sur Internet. Il existe
      un système d’attribution automatique, le DHCP, qui configure
      automatiquement l’adresse IP d’une machine. Ainsi, vous n’avez pas besoin
      de le faire.
    </p>

    <section>
      <h2>Le DHCP</h2>
      <p>
        DHCP (Dynamic Host Configuration Protocol) signifie “protocole de
        configuration automatique des hôtes”.
      </p>

      <p>
        Ce mécanisme est très utilisé dans les réseaux LAN car il simplifie
        l’accès au réseau pour les utilisateurs.
      </p>

      <section>
        <p>Il permet de configurer plusieurs éléments sur les machines : </p>
        <ul>
          <li>
            leur adresse IP et leur masque
          </li>
          <li>
            l’adresse IP de la passerelle par défaut ;
          </li>
          <li>
            l’adresse IP du serveur DNS.
          </li>
        </ul>
      </section>

      <p>
        Le serveur DNS est utilisé principalement pour faciliter
        l’identification des machines qui hébergent des sites Internet ou autres
        services réseau.
      </p>

      <p>
        Le DHCP permet également de centraliser la distribution des adresses IP,
        ce qui présente deux avantages :
      </p>

      <ul role="list">
        <li>
          éviter les doublons ;
        </li>
        <li>
          connaître la liste des adresses IP déjà attribuées.
        </li>
      </ul>

    </section>
    <section>


    </section>

  </section>
</main>