<main class="main hypervisor__main">
  <h1>Hyperviseur</h1>
  <section>
    <h2>Différents hyperviseurs</h2>
    En effet, Il existe 2 grandes catégories d'hyperviseurs qui s’utilisent dans
    des cas très différents.

    <section>
      <h3>Les hyperviseurs de type 2</h3>
      <p>Les hyperviseurs de type 2 sont adaptés dans le cas où vous avez une
        seule machine et que vous voulez faire des tests multiplateformes
        (d’application, d’OS, de communication…).
      </p>
    </section>

    <section>
      <h3>Les hyperviseurs de type 1</h3>
      <p>
        Les hyperviseurs de type 1 sont particulièrement utiles dans des grosses
        architectures réseaux d’entreprise, qui nécessitent des optimisations de
        coûts et de maintenance, tout en améliorant la robustesse face aux
        pannes.
      </p>
    </section>
    <aside>
      Ces 2 moyens de transport ne sont pas vraiment interchangeables.
    </aside>

  </section>

</main>